# Proxy Server Configuration
HTTP_PORT=8080
WS_PORT=8081
BASE_DOMAIN=mitunel.dev
PUBLIC_PROTOCOL=http

# JWT Secret (Debe coincidir con el Control Plane para validar la firma de los tokens)
JWT_SECRET=super_secret_jwt_key_change_in_production_mitunel_2026

# Control Plane API Connection
CONTROL_PLANE_URL=http://localhost:4000
INTERNAL_PROXY_SECRET=proxy_internal_secret_key_change_in_prod

# Pricing / Upgrade URL
PRICING_URL=https://mitunel.dev/pricing
